<section class="cart containeer min-h-screen flex flex-col justify-center">
  <h1 class="mx-auto font-bold p-4 ordersum mt-3">ORDER SUMERY</h1>

  <div class="cart_itoms flex flex-col  w-4/5 mx-auto">
    <%cart.itoms.forEach((pizza)=>{%>
    <div class="w-3/5 cart_itom flex items-center mx-auto mt-4">
    
      

           <img
           src="/img/pizza-images/img/pizza.png"
           class="w-20 "
           alt=""
           srcset=""
           />
        
        
        <div class="flex-1 ml-2 ">
          <h1 class="text-sm"><%=pizza.itom.name %></h1>
          <span class="text-xs ">SMALL</span>
        </div>
    

      <div class=" flex-1">
          <span class="pizza_update">

              <%=pizza.count %>  
          </span>
          <span>
              Qty
          </span>
        </div>

        &#8377;<span class="font-bold pizz_prize"> <%=pizza.itom.price * pizza.count %></span>

      <div class="ml-3">
        <button data-pizza="<%= JSON.stringify(pizza) %>" class="add_pizza">
          <i class="fa fa-plus pr-3"></i>
        </button>
        <button data-pizza="<%= JSON.stringify(pizza) %>" class="remove_pizza">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <% }) %>
    <div class="">
        <div class=" w-3/5 text-right mx-auto pb-14 pt-3 ">

            <span class="mr-3">Total :</span>&#8377; <span class="cart_total_price text-xl "><%=cart.totalPrice%></span>
        </div>
    </div>
    <div class="w-3/5 text-right mx-auto p-2 ">
      <form action="/order" method="post">
        <div>
          <label for="phone-number"  class="sr-only">Phone</label>
          <input id="phone-number" name="phone" type="number"  required class="w-2/5 appearance-none rounded-none  px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Phone Number">
        </div>
        <div>
          <label for="D-address" class="sr-only">Address</label>
          <input id="D-address" name="address" type="text"  required class="w-2/5 appearance-none rounded-none  px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Address">
        </div>
        <%if(!user){%>
          <a href="/signin">   <div class="py-2 w-2/5 ml-auto px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Login And Order</div></a>

      <% }else{%>
        <button type="submit" class="py-2 w-2/5 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Place Order</button>
    <%  }%>
      </form>
    </div>
    
  </div>
</section>
